[submodule ".vim/bundle/vim-objc"]
	path = .vim/bundle/vim-objc
	url = https://github.com/b4winckler/vim-objc.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/jspahrsummers/vim-gitgutter.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/swift.vim"]
	path = .vim/bundle/swift.vim
	url = https://github.com/Keithbsmiley/swift.vim.git
[submodule ".vim/bundle/vim-carthage"]
	path = .vim/bundle/vim-carthage
	url = https://github.com/cfdrake/vim-carthage.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
