[core]
    editor = vim
    pager = vim -
    excludesfile = ~/.dotfiles/global.gitignore
    whitespace = blank-at-eol,space-before-tab,-blank-at-eof,tabwidth=4
    fsyncobjectfiles = true
    preloadindex = true
    quotepath = true
[user]
    name = Justin Spahr-Summers
    email = Justin.SpahrSummers@gmail.com
[alias]
    wtf = blame
    co = checkout
    ci = commit
    st = status
    sub = submodule
    subst = submodule status
    sup = submodule update --init --recursive
    staged = diff --cached
    rba = rebase --abort
    rbc = rebase --continue
    patches = log -p --reverse
    grab = fetch -p --recurse-submodules
[color]
    ui = auto
    diff = false
    pager = false
    whitespace = trailing-space,space-before-tab
[diff]
    renames = copies
    mnemonicprefix = true
[status]
    submodulesummary = true
[branch]
    autosetuprebase = always
[push]
    default = upstream
[merge]
    ff = false
    stat = true
[rebase]
    stat = true
[pack]
    windowMemory = 1g
[advice]
    pushNonFastForward = false
    statusHints = false
