[core]
	editor = vim
	pager = view -
	excludesfile = ~/.dotfiles/global.gitignore
	whitespace = blank-at-eol,space-before-tab,indent-with-non-tab,-blank-at-eof,tabwidth=4
	fsyncobjectfiles = true
	preloadindex = true
[alias]
	co = checkout
	ci = commit
	st = status
	setjmp = commit
	longjmp = reset
	fork = branch
	join = merge
	wait = merge
	bg = branch
	fg = checkout
	barrier = rebase
	s = svn
	sub = submodule
	subst = submodule status
	sup = submodule update
	staged = diff --cached
[color]
	ui = auto
	diff = false
	pager = false
[diff]
	renames = copies
[status]
	submodulesummary = true
[branch]
	autosetuprebase = always
[pack]
	windowMemory = 1g
