"*":
  "exception-reporting":
    userId: "fd0a9e65-f303-68dd-bfd1-aea7ea87e00e"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    invisibles: {}
    softWrap: true
  "switch-header-source": {}
